@import url('https://fonts.googleapis.com/css?family=Poppins');

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
    font-family: 'Poppins','Barlow Condensed', sans-serif;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}


blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    text-decoration: none;
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display: block;
    
    border: 1;
   border-top: 1px solid #e0e0e0; 
    
    padding: 0;
}

input, select {
    vertical-align:middle;
}
.container{
    padding: 0px 100px;
}
/* header start */

.header{
    background-color: #181818;
    padding: 5px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu{
    padding: 15px;
}
.ul-menu ul{
    display: flex;
  
}
.ul-menu ul li a{
    color: #707070;;
    padding: 0px 10px;   
}
.ul-menu ul li a:hover{
    color: #fff;
}
/* dropdown menu */

.ul-menu ul li ul{
    display: none;
}
.ul-menu ul li:hover ul{
    display: block;
    position: absolute;

}
.ul-menu ul li ul li{
    line-height: 40px;
    background-color: rgb(24, 24, 24);
}




/* dropdown menu */
.search {
    padding: 10px 5px;
    font-size: 20px;
}
.search a{
    color: #fff;
    
}
/* header end */

/* banner start */
.banner{
    background-image: url(../img/banner.png);
    padding: 150px 100px;
    background-size: cover;
    background-attachment: fixed;
    border-bottom: 1px solid #b5a9a9;
    background-position: center;
}
.banner-text p{
    font-size: 50px;
    font-weight: bold;
    line-height: 60px;

}
.banner-text span{
    font-size: 20px;
    display: block;
    line-height: 26px;
    color: #1b125f;
    padding-bottom: 35px;
}
.banner-text p1{
display: none;
}

.banner-text a{
    padding: 10px;
    display: inline-block;
    color: #fff;
    background-color: #000;
    font-size: 12px;
    border-radius:5px; 
}
.banner-text a:hover{
    transform: scale(1.1);
    transition-duration: 0.5s;
}

/* banner end */
/* bitcoin ownership start */
.bit-info{
    background-color: #fff;
}
.bit-details{
    display: flex;
    padding: 50px 0px;
}
.bit{
    text-align: center;
    border-radius: 10px;
}
.bit img{
    height: 40%;
   
}
.bit p{
    font-weight: bold;
    font-size: 20px;
}
.bit span{
    padding-top: 15px;
    display: block;
    line-height: 25px;
    font-size: 13px;
}

/* bitcoin ownership end */
/* about-bitcoin start */
.about-bitcoin{
    background-color: #f1f1f1;
}
.bitcoin-flex{
    display: flex;
    justify-content: space-between;
    padding: 50px 0px;
}
.bitcoin-flex .txt-part{

}
 
.bitcoin-flex .txt-part h4{
    font-weight: 100;
    font-size: 1em;
    padding-bottom: 5px;
}
.bitcoin-flex .txt-part p{
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 25px;

}
.bitcoin-flex .txt-part span{
    font-weight: 100;
    line-height: 24px;
    font-size: 13px;
    display: block;
    padding-bottom: 20px;
}
.bitcoin-flex .txt-part a{
    padding: 10px;
    display: inline-block;
    color: #fff;
    background-color: #000;
    font-size: 12px;
    border-radius: 5px;
}
.bitcoin-flex .txt-part a:hover{
    transform: scale(1.1);
    transition-duration: 0.5s;
}
/* about-bitcoin end */

/* counter start */
.counter{
    background-color: #181818;
    
}
.counter-flex{
    display: flex;
    justify-content: space-between;
    padding: 50px 0px;
}
.item1{
    text-align: center;
}
 .item1 span {
    font-size: 60px;
    color: #fab915;
    font-weight: 100;
}
.item1 span:hover{
    color: rgb(3, 124, 13);
}
.item1 h5{
    padding-top: 25px;
    display: block;
    color: #5e5e5e;
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: 100;
}
.item1 p{
    font-size: 35px;
    padding-top: 10px;
    color: #fff;
}
.item1 p:hover{
    color: #fab915;
}
/* counter end */
/* latest news start */
.latest-news{
    background-color: #fff;
}
.news-text{
text-align: center;
padding: 50px;
}
.news-text p{
    opacity: 0.4;
    padding-bottom: 10px;
}
.news-text span{
    font-weight: bold;
    font-size: 40px
}
.div4{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    text-align: center;
    padding-bottom: 70px;

  
}
.div4 .news{
    position: relative;
    width: 100%;
    max-width: 400px;
}
.div4 .news p{
    padding-top: 20px;
    padding-bottom: 40px;
   
}
.div4 .news p span{
    color: #fab915;
    padding-right: 10px;
    font-size: 15px;
   

}



/* latest news end */
/* calculator part start */
.calculator{
    background-color: #fab915;
}
.calculator-text{
    text-align: center;
}
.calculator-text h5{
    padding-top: 80px;
    font-weight: 100;
}
.calculator-text p{
    font-size: 30px;
    padding: 10px 0px;
    font-weight: bold;
}
.calculator-text span{
    line-height: 25px;
    opacity: 0.7;

}
.input-part{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 100px;
}
.input-part select{
    font-family: 'Poppins','Barlow Condensed', sans-serif;
    background-color: #000;
    border: none;
    color: #fff;
    height: 40px;
    width: 20%;
}
/* calculator part end */

/* check-work start */
.check-work{
    background-color: #fff;
}
.check-work-text{
    text-align: center;
    padding-top: 50px;
}
.check-work-text p{
color: #948d8d;
}
.check-work-text span{
    font-size: 30px;
    padding-top: 5px;
    display: block;
    font-weight: bold;
}
.work-div{
    display:grid;
    grid-template-columns: 33% 33% 33%;
    text-align: center;
    padding-top: 50px;
}
.pament{
    padding-bottom: 80px;
}

.pament #icon {
    font-size: 50px;
    border: 1px solid;
    border-radius: 50%;
    padding: 20px;
    transform: scale(1.1);
}
.pament #icon:hover{
    background-color: #ce1919;
    color: #fff;
}
.pament p{
    padding: 25px 0px;
}
.pament span{
    font-size: 13px;
    color: #707070;
    line-height: 20px;
}

/* check-work end */
/* coin-chart start */
.coin-part{
    background-color: #181818;
}
.coin-part-text{
text-align: center;
padding-top: 100px;
}
.coin-part-text p{
color: #a09a9a;
}
.coin-part-text span{
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    padding-top: 5px;
    display: block;
}
.coin-part-img{
    padding: 50px 0px;;
}
.coin-part-img img{
    width: 90%;
    padding-left: 5%;

}
/* coin-chart end */

/* bitcoin expart part start */
.meet-team{
    background-color: #fff;
}
.meet-team-text{
text-align: center;
padding: 50px 0px;
}
.meet-team-text p{
color: #8c8383;
}
.meet-team-text span{
    font-size: 30px;
    padding-top: 5px;
    display: block;
    font-weight: bold;
}
.meet-team-img{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    text-align: center; 
    padding-bottom: 50px;
}
.meet-img .meet-img-txt{
    border: 1px solid #dcd1d1;
    border-top: 0;
    border-radius: 35px 0px 35px 0px;
    box-sizing: border-box;
    background-color: rgb(236, 221, 221);
}
.meet-img .meet-img-txt:hover{
    background-color: rgb(56, 8, 8);
    color: #fff;
    transition-duration: 0.5s;
}
.meet-img-txt h5{
    padding-top: 20px;
    font-weight: bold;
    padding-bottom: 10px;
}
.meet-img-txt p{
    font-size: 12px;
    font-weight: 600;
    color: #b5a9a9;
}
.meet-img-txt span{
    font-size: 13px;
    line-height: 22px;
    padding: 25px 0px;
    display: block;
}

.meet-social-icon{
    padding-bottom: 35px;
}
#meet-soical{
padding: 0px 5px;
color: #d2d2d2;
}
#meet-soical:hover{
    color: rgb(247, 210, 0);
}
/* bitcoin expart part end */

/* footer part start */
.footer{
    background-color: #181818;
}
.adress{
    display: grid;
    grid-template-columns: 40% 20% 40%;
    text-align: center;
}
#footer-social{
    color: #e0a715;
}
.email{
    color: #6b6262;
    border-bottom: 1px solid;
    padding: 25px 0px;
    border-right: 1px solid;
}
.email:hover{
    color:#087511 ;
}
.email:last-child{
    border-right: 0;
}

.email span{
    color: #fff;
    padding: 0px 5px;
}
.footer-about{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    padding: 50px 0px;
    padding-left: 100px;
    border-bottom: 1px solid #6f6969;
}
.footer-about .about p{
    color: #fff;
    padding-bottom: 23px;
}
.footer-about .about ul{
    list-style: none;
}
.footer-about .about ul a li{
    color: #736767;
    font-size: 13px;
    padding: 10px 0px;
}
.footer-about .about ul a li:hover{
    color: #e0a715;
}
.footer-about .about input{
    padding: 13px;
    background-color: #242424;
    border: #181818;
    color: #fff;
    font-family: 'Poppins','Barlow Condensed', sans-serif;
}
.footer-share{
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 25px 0px;
    text-align: center;
}
.footer-share .text{
    color: #d2d2d2;
    font-size: 13px;
}
/* footer part end */
/* scroll-up button */
#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(0, 0, 0);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    border-radius: 35px;
    display: none;

}
#scroll-up {
    position: fixed;
    bottom: 24px;
    right: 24px;
    color: #fff;
    font-size: 42px;
}
#scroll-up:hover{
    color: #007a25;
}
/* scroll-up button */


/* responsive-part */
.responsive-menu{
    display: none;
}
.responsive-menu .menu-icon{
    color: #fff;
    font-size: 20px;
}