@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 650px)
   {
/* banner res start */
.container {
    padding: 0px 75px;
}
.logo a img{
    width: 65%;
}
.menu{
    display: none;
}
.responsive-menu{
    display: block;
}
.responsive-menu .menu-icon {
    color: #fff;
    font-size: 20px;
}
.search {
    position: absolute;
    right: 50px;
}
.res-icon-block{
    display: block;
    position: absolute;
    right: 15px;
    top: 40px;
    text-align: center;
    background-color: #181818;
    border-radius: 5px 5px 20px 20px;
}
.ul-menu ul{
    flex-direction: column;
    }
    .ul-menu ul li{
        padding: 10px;
    }
/* banner res end */
/* latest-news start */
.latest-news .container{
    padding-top: 40px;
}
.div4{
    grid-template-columns: 100%;
    padding-bottom: 0;
}
.div4 .news img{
    border-radius: 10px;
	width:100%;
}
.div4 .news p{
    padding: 20px 0px;
}
.div4 .news span{
    padding-bottom: 30px;
   
}
.news{
    padding-bottom: 30px;
    background-color: #f9f9f9;
    border-radius: 0px 0px 20px 20px;
    margin-bottom: 20px;
}
.latest-news .container h3{
    padding: 30px 0px;
}
/* latest-news end */
/* footer start */
.adress{
    grid-template-columns: 100%;
    text-align: unset;
}
.email {
    padding: 20px 15px;
    font-size: 14px;
}
.footer-about {
    grid-template-columns: 100%;
    text-align: center;
    padding-left: 0;
    padding-bottom: 50px;
    padding-top: 20px;
}
.footer-share {
    grid-template-columns: 100%;
    padding: 10px;
}
.footer-share .text {
    padding-bottom: 15px;
}

/* footer end */
/* scroll up button start*/
#return-to-top {
    width: 37px;
    height: 37px;
    right: 14px;
}
#scroll-up {
    bottom: 22px;
    right: 16px;
    font-size: 33px;
}
/* scroll up button end*/
   }